{% load static %}
{% load i18n %}
<html lang="fa" dir="rtl">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title%}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'public/css/styles.css' %}">
    {% block extra_style %}
    {% endblock %}
</head>

<body>
{% include "base/header.html" %}

{% block body %}
{% endblock %}

{% include "base/footer.html" %}

  <script rel="" src="{% static 'public/js/main.js' %}"></script>
  {% block extra_script %}
  {% endblock %}
</body>

</html>